{% extends "layout.html" %}

    {% block content %}
    <ul class="nav nav-tabs nav-justified">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{{url_for('available_vms')}}">Available VMs</a></li>
          <li role="presentation"><a href="{{url_for('allocated_vms')}}">Allocated VMs</a></li>
          <li role="presentation"><a href="#">All VMs</a></li>
          <li role="presentation"><a href="#">Permissions</a></li>
        </ul>
    </ul>
    {% block admincontent %}{% endblock %}
    {% endblock %}
    