{% extends "layout.html" %}

    {% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-8 col-md-7 border">
                    <h2>Lab Machine Self Service Portal</h2>
                    <h3>Instructions:</h3>
                    <p class="lead">Coming Soon!!!!</p>
                    <p>Coming Soon!!!!</p>
                </div>
                <div class="col-lg-4 col-md-5 pad-top">
                    <h4>Enter Your LAN ID here:</h4>
                    <form class="input-group" action="{{ url_for('user_page') }}" method="POST">
                        <input class="form-control" type="text" name="LanID" placeholder="Lan ID">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Login</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}